<!DOCTYPE html>
<html>
<head>
	<title>movies page</title>
</head>
<body>
 <%= image_tag ("/assets/ruby.jpeg"), class: "img-responsive"%>
 <div>
 <p>
 	Getting Started with Rails
This guide covers getting up and running with Ruby on Rails.<br/>

After reading this guide, you will know:<br/>

How to install Rails, create a new Rails application, and connect your application to a database.<br/>
The general layout of a Rails application.
The basic principles of MVC (Model, View, Controller) and RESTful design.<br/>
How to quickly generate the starting pieces of a Rails application.<br/>
 </p>
 </div>
</body>
</html>