<div >
	<h2>Article</h2>
	<div class="show-article">
		 	<p>
			  <strong>Title:</strong>
			  <span class="show"> 
			  	<%= @article.title %>
			  </span>
			</p>
			<p>
			  <strong>Text:</strong>
			  <%= @article.text %>
			</p>
			<span class="back">
				<%= link_to 'Back', articles_list_url %>
			</span>
	</div>
</div>