<div class="header-container">
  <%= render :partial=>"header" %>
</div>
<div class="container">
  <div class="row dishes">
    <%= render :partial=> "dishes",:locals=>{dishes:@dishes} %>
  </div>
</div>
<div class="footer-container">
	<%= render :partial=>"footer" %>
</div>